In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.3.1'

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
df.shape

(9704, 11)

In [6]:
# How many fuel types are presented in the dataset?

In [7]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [8]:
df.fuel_type.nunique()

2

In [9]:
# How many columns in the dataset have missing values?

In [10]:
df.isnull().sum() != 0

engine_displacement    False
num_cylinders           True
horsepower              True
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

In [11]:
# What's the maximum fuel efficiency of cars from Asia?

In [12]:
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [13]:
# Find the median value of the horsepower column in the dataset.

In [14]:
df.horsepower.median()

np.float64(149.0)

In [15]:
# Next, calculate the most frequent value of the same horsepower column.

In [16]:
df.groupby('horsepower').horsepower.count().max()

np.int64(142)

In [17]:
# temp_df = df.groupby('horsepower').horsepower.count()
# temp_df[temp_df == 142]

In [18]:
df.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [19]:
df.horsepower = df.horsepower.fillna(152)

In [20]:
df.horsepower.median()

np.float64(152.0)

In [ ]:
# Q7. Sum of weights

In [22]:
# Select all the cars from Asia
# Select only columns vehicle_weight and model_year
# Select the first 7 values
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Invert XTX.
# Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the sum of all the elements of the result?

asia_df = df[df.origin == 'Asia']
asia_df.shape

(3247, 11)

In [30]:
asia_df = asia_df[['vehicle_weight', 'model_year']]
# asia_df.head()
asia_df = asia_df.head(7)
asia_df_values = asia_df.values

In [41]:
asia_df_values_t = asia_df_values.T
dot_p = asia_df_values_t.dot(asia_df_values)

dot_p_i = np.linalg.inv(dot_p)

In [42]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y

array([1100, 1300,  800,  900, 1000, 1100, 1200])

In [43]:
res = dot_p_i.dot(asia_df_values_t)

In [44]:
w = res.dot(y)

In [45]:
w

array([0.01386421, 0.5049067 ])

In [46]:
w.sum()

np.float64(0.5187709081074016)